.b-header{
	
	height: 			100px;
	background-color: 	$color-blue;
	
	&__branch{
		
		top: 	30px;
		left:	0px;
	}
	
	&__role{
		
		top: 	30px;
		left: 	310px;
		
	}
	
	&__add-event{
		
		top:	20px;
		left: 	628px;
	}
	
	
}